:root {

}

h1 {
  background-color: blue;
  color: aliceblue;
}

.card {
height: 500px;
width: 300px;
border: 1px solid black;
}

.hide {
  display: none;
}

#oppPokemonCard {
  display: flex;
  align-items: center;
  justify-content: end;
}

.pokemonStats {
  border: 2px solid black;
  padding: 2px 50px;
  width: fit-content;
  background-color: beige;
}

#oppPokemonPic {
  margin-right: 50px;
  background-color: bisque;
}

#oppPokemonName {
  font-weight: bolder;
  font-size: larger;
}

.forest {
  background-image: url("../images/backgrounds/forest.jpg");
}

.userPokemon {
  position: fixed;
  bottom: 10px;
}