:root {
  --lr: #ff0000;
  --dr: #cc0000;
  --yellow: #ffde00;
  --cb: #3b4cca;
  --gold: #b3a125;
  --normal: #ffe629;
  --strong: #7b2031;
  --evade: #5a4a9c;
  --defend: #f6a400;
}

body {
  width: 90%;
  margin: 2% auto;
  height: 90vh;
}

#fullPage {
  height: 100vh;
}

.press-start h1, h2, h4 {
  font-family: 'Press Start 2P', cursive;
}

.hide {
  display: none;
}

.header {
  background-color: var(--cb);
  color: var(--yellow);
}

/* added font to Header on landing page */
h1 {
  font-family: "Bubblegum Sans", cursive;
  font-size: 90px;
}

h3 {
  font-family: "Bubblegum Sans", cursive;
  color: var(--normal);
  font-size: 45px;
}
/* added css to stats page in battle html */
.setStats {
  font-family: "Bubblegum Sans", cursive;
  font-size: 30px;
  color: var(--yellow);
}
/* added css to landing page name your fakemon */
.name-box {
  font-family: "Bubblegum Sans", cursive;
  color: rgb(0, 0, 0);
  font-size: 35px;
  border: black solid 2px;
}

/* added css to landing page body */
.backGround {
  background-image: url(../images/backgrounds/start.webp);
  background-size: 100vw 100vh;
  background-position: top center;
  background-repeat: no-repeat;
}
/* added css to battle html body */
.statCreator {
  background-image: url(../images/backgrounds/lab1.jpg);
  background-size: auto 100vh;
  background-position: top center;
}

/* added border box to stats */
.statBorder {
  /* border: 2px solid; */
  padding: 2px 50px;
  width: fit-content;
  background-color: var(--evade);
}

.pokeImage {
  margin-top: 10px;
  margin-left: 75px;
}

.intro {
  margin: 20px auto 30px auto;
  /* text-shadow: 4px 4px 4px #aaa; */
}

.intro h3 {
  font-family: "Audiowide", cursive;
  color: black;
  background-color: rgb(255, 252, 49, 0.5);
}
/* added css to the three cards in landing page */

.card-container {
  margin-top: 8%;
}

.card {
  height: 400px;
  width: 400px;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  background-color: var(--gold);
  background-image: url(../images/backgrounds/pcard.png);
  background-size: cover;
}

.name-box {
  width: 60%;
  text-align: center;
  visibility: hidden;
}

.name-box input {
  width: 150px;
  height: 40.5px;
  display: inline;
  margin-left: 10px;
}

#score-box {
  margin-top: 30px;
  text-align: center;
}

.pokemonStats {
  border: 2px solid black;
  font-size: large;
  padding: 15px;
  padding-right: 20px;
  /* max-width: fit-content; */
  background-color: beige;
}

#oppPokemonPic {
  margin-right: 50px;
}

#oppPokemonName {
  font-weight: bolder;
  font-size: larger;
}

.card:hover {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  cursor: pointer;
}

.button {
  font-family: "Bubblegum Sans";
  border-radius: 10px;
}
#save-button {
  background-color: var(--cb);
}

.forest {
  background-image: url("../images/backgrounds/Battle.png");
  background-size: 100vw 100vh;
  background-position: top center;
}

.card:hover {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  cursor: pointer;
}

.name-box {
  background-color: rgb(255, 252, 49, 0.5);
  width: 60%;
  text-align: center;
  margin: 5% auto;
  visibility: hidden;
}

.name-box input {
  width: 150px;
  height: 40.5px;
  display: inline;
  margin-left: 10px;
}

.button {
  margin-top: 14px;
  /* font-family: ; */
  color: white;
}

.clicked {
  border: 5px solid #6de072;
  box-shadow: 0 0 20px #6de072;
}

.dialogueBox {
  background-color: beige;
  border: 3px solid black;
  width: fit-content;
  height: fit-content;
  padding: 10px;
}

#userPokemonName {
  font-size: larger;
  font-weight: bolder;
  text-align: center;
}

#userPokemonImg {
  max-width: 320px;
  max-height: 320px;
}

.pokemonBattleScene {
  bottom: 2px;
}

/* added css for defend button */
#defendButton {
  background-color: var(--defend);
  color: black;
}
/* added css for evade */
#evade-button {
  background-color: var(--evade);
  color: white;
}
/* added css for strong */
#strong-button {
  background-color: var(--strong);
  color: white;
}
/* added css for normal */
#attack-button {
  background-color: var(--normal);
  color: black;
}
/* added css for start button */
#battle {
  background-color: #6ad531;
  color: black;
  font-size: 50px;
  padding: 20px;
}

#battleAgain {
  background-color: #6ad531;
  color: black;
  font-size: 50px;
  padding: 20px;
}

.pageButtons {
  padding: 0px 4px;
}

.minus {
  padding: 0px 6px;
}

.card-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling for Game Over and High Scores screens */

.game-over {
  /* margin: 150px auto; */
  background-color: #202020;
  background-size: cover;
  color:white;
}

.press-start h1,
h2 {
  font-family: "Press Start 2P", cursive;
}

.win-box {
  margin: 50px auto;
}

.game-over img {
  margin: 40px auto;
  display: block;
}

.game-over-score {
  display: inline;
  margin: 0 auto 0 auto;
}

.nickname-box {
  text-align: center;
}

.nickname-box input {
  width: 100px;
  height: 40.5px;
  margin: auto
}

.input-box {
  display: block;
  margin: 10px 20px 0 auto;
}

.high-score {
  background-image: url("../images/backgrounds/high-score-background.jpeg");
  background-size: cover;
  height: 100vh;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

ol {
  padding-left: 0px;
  max-height: 500px;
  max-width: 500px;
  overflow: auto;
  margin: 30px auto;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 150%;
  text-align: left;
  letter-spacing: 1px;
}

li {
  padding-left: 180px;
  text-transform: uppercase;
  list-style: decimal inside none;
  background-color: #FFA9E4;
  opacity: 0.8;
}

li:nth-child(even) {
  background-color: aliceblue;
  opacity: 0.8;
}

#game-over {
  display: none;
}

.card-container {
  flex-wrap: wrap;
}



.battle-rules h5 {
  text-align: center;
}
.battle-rules {
   background-color:aliceblue;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   padding: 20px;
}

#fusionPokemonImg {
  width: 100%;
  height: 100%;
  transform: scale(1.5);
}

#battleInfo {
  margin-top: 40px;
}

.highScoreButtons {
  margin: 10px;
}

.battle-page {
  height: 100vh;
}


@media screen and (max-width: 768px) {
  .battle-page {
    height:auto !important;
  }
}

@media screen and (max-width: 1200px) { 
  .backGround {
    background-image: url(../images/backgrounds/start.webp);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
  }
  .forest {
    background-size: auto 100vh;
    background-position:top center;
    background-repeat: repeat;
  }
}
